* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Text", sans-serif;
  overflow-x: hidden;
  background: #dfdfdf;
}

.hamburger {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 5;
  background: #5c68d3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 3px;
    background: white;
  }
  .line2 {
    margin: 5px 0px;
  }
}

nav {
  width: 100vw;
  height: auto;
  padding: 1rem 0rem;
  position: absolute;
  top: 0vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    padding: 0rem 6rem;
  }
  .logo2 {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    li {
      font-size: 1.3rem;
      a {
        text-decoration: none;
        color: #424242;
      }
    }
  }
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #dfdfdf;
  .circle {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    position: absolute;
    background: #5c68d3c4;
    top: 15vh;
    right: -15vh;
    z-index: 0;
  }
  .home-text {
    width: 60%;
    padding: 0rem 6rem;
    color: #424242;
    margin-top: 10vh;
    h1 {
      font-size: 5rem;
      font-weight: bolder;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      width: 90%;
      font-weight: bold;
      margin: 2rem 0rem;
    }
    .download {
      padding: 0.7rem 4rem;
      font-size: 1.3rem;
      background: #5c68d3;
      color: white;
      border-radius: 0.3rem;
      border: none;
    }
  }
  .home-image {
    width: 35%;
    display: grid;
    place-items: center;
    img {
      width: 65%;
      z-index: 1;
      margin-top: 25vh;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background: #dfdfdf;
  .main-head {
    color: #424242;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #5c68d3;
    text-decoration-thickness: 10px;
    text-underline-offset: -3px;
  }
  .features-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .features-text-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      .features-card {
        width: 50%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        color: #424242;
        h1 {
          font-size: 2.5rem;
          margin: 8px 0px;
        }
        h3 {
          line-height: 2rem;
        }
      }
    }
    .features-image {
      width: 50%;
      display: grid;
      place-items: center;
      place-content: center;
      height: 100%;
      .embla {
        overflow: hidden;
        width: 35%;
      }
      .embla__container {
        display: flex;
      }
      .embla__slide {
        position: relative;
        flex: 1;
        width: 100%;
      }
      img {
        width: 40%;
      }
    }
  }
}

.team {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #dfdfdf;
  .main-head {
    color: #424242;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #5c68d3;
    text-decoration-thickness: 10px;
    text-underline-offset: -3px;
  }
  .container {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    .card {
      width: 30vw;
      margin: 0vh 10vh;
      height: 30%;
      background: white;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .image-area {
        width: 40%;
        display: grid;
        place-items: center;
        img {
          border-radius: 50%;
          width: 150px;
          height: 150px;
        }
      }
      .text-area {
        width: 60%;
        height: 70%;
        color: #424242;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        h1 {
          margin-bottom: -2vh;
        }
        .icons {
          a {
            color: #424242;
            margin-right: 25px;
          }
        }
      }
    }
  }
}

.footer-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25vh;
  margin-bottom: -15vh;
  .footer-box {
    width: 60vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
    color: #424242;
    z-index: 2;
    border-radius: 0.2rem;
    h1 {
      font-size: 4rem;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 60%;
      .download {
        padding: 0.7rem 4rem;
        font-size: 1.3rem;
        background: #5c68d3;
        color: white;
        border-radius: 0.3rem;
        border: none;
      }
    }
  }
}

footer {
  z-index: 1;
  width: 100vw;
  height: 45vh;
  display: flex;
  background: #5c68d3;
  background-size: cover;
  overflow: hidden;
  clip-path: polygon(0 33%, 100% 0, 100% 100%, 0 100%);

  .footer-container {
    width: 100vw;
    height: 70%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .section1,
    .section2,
    .section3 {
      width: 30%;
      height: 80%;
    }
    .section1 {
      height: 80%;
      display: grid;
      place-items: center;
      .icons {
        a {
          color: #ffffff;
          margin-right: 25px;
        }
      }
      h3 {
        color: white;
      }
    }
    .section2 {
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-size: 1.5rem;
        color: white;
        flex-direction: column;
      }
    }
    .section3 {
      display: grid;
      place-items: center;
      color: white;
      font-size: 1.2rem;
    }
  }
}

.downloads {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  .main-head {
    color: #424242;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #5c68d3;
    text-decoration-thickness: 10px;
    text-underline-offset: -3px;
  }
  .container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      width: 30vw;
      margin: 0vh 10vh;
      height: 25vh;
      background: white;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5vh 5vh;
      .img-area {
        width: 40%;
        display: grid;
        place-items: center;
        img {
          width: 20%;
          width: 150px;
          height: 150px;
        }
      }
      .text-area {
        width: 60%;
        height: 20vh;
        color: #424242;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        h1 {
          font-size: 1.5rem;
          margin-bottom: -2vh;
        }
        .download {
          padding: 0.5rem 2rem;
          background: #5c68d3;
          border-radius: 0.5rem;
          border: none;
          color: white;
          font-size: 1.3rem;
          width: 60%;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: flex;
  }
  nav {
    z-index: 4;
    .nav-links {
      position: fixed;
      top: 0vh;
      width: 100vw;
      height: 50vh;
      background: rgb(201, 201, 201);
      flex-direction: column;
      transform: translateY(-50vh);
      transition: transform 300ms ease;
      justify-content: center;
      li {
        margin: 4vh 0vh;
        font-size: 25px;
        color: #424242;
      }
    }
    .nav-active {
      transform: translateY(0vh);
      z-index: 4;
    }
    .logo {
      display: none;
    }
    .logo2 {
      display: block;
      padding: 0rem 0rem;
      position: absolute;
      top: 2rem;
      left: 1.5rem;
      img {
        width: 60%;
      }
    }
  }

  .home {
    width: 100vw;
    height: auto;
    flex-direction: column;
    padding: 0rem 0rem;
    .home-text {
      padding: 1rem 0rem;
      width: 100%;
      text-align: center;
      z-index: 3;
      color: rgb(231, 231, 231);
      h1 {
        font-size: 3rem;
        width: 100%;
      }
      p {
        padding: 0rem 1rem;
        font-size: 1.2em;
        width: 100vw;
        line-height: 2rem;
        width: 100%;
      }
    }
    .home-image {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin-top: 5vh;
      }
    }
    .circle {
      top: -50vw;
      left: -50vw;
      width: 200vw;
      height: 200vw;
    }
  }
  .features {
    height: auto;
    width: 100vw;
    .features-container {
      flex-direction: column;
      .features-text-container {
        padding: 1rem 0rem;
        width: 100vw;
        height: 100vh;
        text-align: center;
        .features-card {
          width: 70%;
          h1 {
            font-size: 2rem;
          }
          h3 {
            font-size: 1.2rem;
          }
        }
      }
      .features-image {
        width: 100%;
        padding: 1rem 0rem;
        .embla {
          overflow: hidden;
          width: 70%;
        }
        .embla__container {
          display: flex;
        }
        .embla__slide {
          position: relative;
          flex: 1;
          width: 100%;
        }
        img {
          width: 70%;
          margin: 4vh 0vh;
        }
      }
    }
  }
  .team {
    height: auto;
    padding: 1rem 0rem;
    .container {
      height: auto;
      margin: 5vh 0vh;
      .card {
        width: 90vw;
        padding: 1rem 0rem;
        margin: 4vh 0vh;
        .image-area {
          img {
            width: 75px;
            height: 75px;
          }
        }
        .text-area {
          height: 20vh;
          h1 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .footer-box-container {
    .footer-box {
      height: 30vh;
      width: 90vw;
      h1 {
        text-align: center;
        font-size: 1.5rem;
        width: 90%;
      }
      div {
        flex-direction: column;
        width: 100%;
        h2 {
          font-size: 1.3rem;
        }
        .download {
          padding: 0.4rem 2rem;
          margin: 2vh 0vh;
        }
      }
    }
  }
  footer {
    .footer-container {
      .section1,
      .section2 {
        display: none;
      }
      .section3 {
        width: 100%;
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
  .downloads {
    height: auto;
    .container {
      .card {
        width: 90vw;
        margin: 4vh 0vh;
        .text-area {
          margin: 0vh 2vh;
          h2 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
