* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Text", sans-serif;
  overflow-x: hidden;
  background: #dfdfdf;
}

.hamburger {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 5;
  background: #5c68d3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.hamburger .line1,
.hamburger .line2,
.hamburger .line3 {
  width: 25px;
  height: 3px;
  background: white;
}

.hamburger .line2 {
  margin: 5px 0px;
}

nav {
  width: 100vw;
  height: auto;
  padding: 1rem 0rem;
  position: absolute;
  top: 0vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  padding: 0rem 6rem;
}

nav .logo2 {
  display: none;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 40%;
}

nav .nav-links li {
  font-size: 1.3rem;
}

nav .nav-links li a {
  text-decoration: none;
  color: #424242;
}

.home {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #dfdfdf;
}

.home .circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  position: absolute;
  background: #5c68d3c4;
  top: 15vh;
  right: -15vh;
  z-index: 0;
}

.home .home-text {
  width: 60%;
  padding: 0rem 6rem;
  color: #424242;
  margin-top: 10vh;
}

.home .home-text h1 {
  font-size: 5rem;
  font-weight: bolder;
}

.home .home-text p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 90%;
  font-weight: bold;
  margin: 2rem 0rem;
}

.home .home-text .download {
  padding: 0.7rem 4rem;
  font-size: 1.3rem;
  background: #5c68d3;
  color: white;
  border-radius: 0.3rem;
  border: none;
}

.home .home-image {
  width: 35%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.home .home-image img {
  width: 65%;
  z-index: 1;
  margin-top: 25vh;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background: #dfdfdf;
}

.features .main-head {
  color: #424242;
  font-size: 3rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #5c68d3;
          text-decoration-color: #5c68d3;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
}

.features .features-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .features-container .features-text-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features .features-container .features-text-container .features-card {
  width: 50%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #424242;
}

.features .features-container .features-text-container .features-card h1 {
  font-size: 2.5rem;
  margin: 8px 0px;
}

.features .features-container .features-text-container .features-card h3 {
  line-height: 2rem;
}

.features .features-container .features-image {
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  height: 100%;
}

.features .features-container .features-image .embla {
  overflow: hidden;
  width: 35%;
}

.features .features-container .features-image .embla__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .features-container .features-image .embla__slide {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.features .features-container .features-image img {
  width: 40%;
}

.team {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dfdfdf;
}

.team .main-head {
  color: #424242;
  font-size: 3rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #5c68d3;
          text-decoration-color: #5c68d3;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
}

.team .container {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.team .container .card {
  width: 30vw;
  margin: 0vh 10vh;
  height: 30%;
  background: white;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .container .card .image-area {
  width: 40%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.team .container .card .image-area img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.team .container .card .text-area {
  width: 60%;
  height: 70%;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .container .card .text-area h1 {
  margin-bottom: -2vh;
}

.team .container .card .text-area .icons a {
  color: #424242;
  margin-right: 25px;
}

.footer-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 25vh;
  margin-bottom: -15vh;
}

.footer-box-container .footer-box {
  width: 60vw;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: white;
  color: #424242;
  z-index: 2;
  border-radius: 0.2rem;
}

.footer-box-container .footer-box h1 {
  font-size: 4rem;
}

.footer-box-container .footer-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

.footer-box-container .footer-box div .download {
  padding: 0.7rem 4rem;
  font-size: 1.3rem;
  background: #5c68d3;
  color: white;
  border-radius: 0.3rem;
  border: none;
}

footer {
  z-index: 1;
  width: 100vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5c68d3;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: polygon(0 33%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 33%, 100% 0, 100% 100%, 0 100%);
}

footer .footer-container {
  width: 100vw;
  height: 70%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-container .section1,
footer .footer-container .section2,
footer .footer-container .section3 {
  width: 30%;
  height: 80%;
}

footer .footer-container .section1 {
  height: 80%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer .footer-container .section1 .icons a {
  color: #ffffff;
  margin-right: 25px;
}

footer .footer-container .section1 h3 {
  color: white;
}

footer .footer-container .section2 ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-size: 1.5rem;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .section3 {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  font-size: 1.2rem;
}

.downloads {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.downloads .main-head {
  color: #424242;
  font-size: 3rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #5c68d3;
          text-decoration-color: #5c68d3;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
}

.downloads .container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.downloads .container .card {
  width: 30vw;
  margin: 0vh 10vh;
  height: 25vh;
  background: white;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5vh 5vh;
}

.downloads .container .card .img-area {
  width: 40%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.downloads .container .card .img-area img {
  width: 20%;
  width: 150px;
  height: 150px;
}

.downloads .container .card .text-area {
  width: 60%;
  height: 20vh;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.downloads .container .card .text-area h1 {
  font-size: 1.5rem;
  margin-bottom: -2vh;
}

.downloads .container .card .text-area .download {
  padding: 0.5rem 2rem;
  background: #5c68d3;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 1.3rem;
  width: 60%;
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    z-index: 4;
  }
  nav .nav-links {
    position: fixed;
    top: 0vh;
    width: 100vw;
    height: 50vh;
    background: #c9c9c9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-50vh);
            transform: translateY(-50vh);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav-links li {
    margin: 4vh 0vh;
    font-size: 25px;
    color: #424242;
  }
  nav .nav-active {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    z-index: 4;
  }
  nav .logo {
    display: none;
  }
  nav .logo2 {
    display: block;
    padding: 0rem 0rem;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
  }
  nav .logo2 img {
    width: 60%;
  }
  .home {
    width: 100vw;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0rem 0rem;
  }
  .home .home-text {
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
    z-index: 3;
    color: #e7e7e7;
  }
  .home .home-text h1 {
    font-size: 3rem;
    width: 100%;
  }
  .home .home-text p {
    padding: 0rem 1rem;
    font-size: 1.2em;
    width: 100vw;
    line-height: 2rem;
    width: 100%;
  }
  .home .home-image {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home-image img {
    margin-top: 5vh;
  }
  .home .circle {
    top: -50vw;
    left: -50vw;
    width: 200vw;
    height: 200vw;
  }
  .features {
    height: auto;
    width: 100vw;
  }
  .features .features-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .features-container .features-text-container {
    padding: 1rem 0rem;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  .features .features-container .features-text-container .features-card {
    width: 70%;
  }
  .features .features-container .features-text-container .features-card h1 {
    font-size: 2rem;
  }
  .features .features-container .features-text-container .features-card h3 {
    font-size: 1.2rem;
  }
  .features .features-container .features-image {
    width: 100%;
    padding: 1rem 0rem;
  }
  .features .features-container .features-image .embla {
    overflow: hidden;
    width: 70%;
  }
  .features .features-container .features-image .embla__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features .features-container .features-image .embla__slide {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .features .features-container .features-image img {
    width: 70%;
    margin: 4vh 0vh;
  }
  .team {
    height: auto;
    padding: 1rem 0rem;
  }
  .team .container {
    height: auto;
    margin: 5vh 0vh;
  }
  .team .container .card {
    width: 90vw;
    padding: 1rem 0rem;
    margin: 4vh 0vh;
  }
  .team .container .card .image-area img {
    width: 75px;
    height: 75px;
  }
  .team .container .card .text-area {
    height: 20vh;
  }
  .team .container .card .text-area h1 {
    font-size: 1.5rem;
  }
  .footer-box-container .footer-box {
    height: 30vh;
    width: 90vw;
  }
  .footer-box-container .footer-box h1 {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
  }
  .footer-box-container .footer-box div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .footer-box-container .footer-box div h2 {
    font-size: 1.3rem;
  }
  .footer-box-container .footer-box div .download {
    padding: 0.4rem 2rem;
    margin: 2vh 0vh;
  }
  footer .footer-container .section1,
  footer .footer-container .section2 {
    display: none;
  }
  footer .footer-container .section3 {
    width: 100%;
  }
  footer .footer-container .section3 h1 {
    font-size: 2rem;
  }
  .downloads {
    height: auto;
  }
  .downloads .container .card {
    width: 90vw;
    margin: 4vh 0vh;
  }
  .downloads .container .card .text-area {
    margin: 0vh 2vh;
  }
  .downloads .container .card .text-area h2 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */