* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Text", sans-serif;
  overflow-x: hidden;
  background: #dfdfdf;
}

.hamburger {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 5;
  background: #5c68d3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 3px;
    background: white;
    transition: all 0.2s ease;
  }
  .line2 {
    margin: 5px 0px;
  }
}

.hamburger-active {
  .line2 {
    opacity: 0;
  }
  .line1 {
    transform: translateY(8px) rotate(45deg);
  }
  .line3 {
    transform: translateY(-8px) rotate(-45deg);
  }
}

nav {
  width: 100vw;
  height: auto;
  padding: 1rem 0rem;
  position: fixed;
  top: 0vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  transition: top 0.3s ease;
  .logo {
    padding: 0rem 3rem;
  }
  .logo2 {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: clamp(40%, 50%, 60%);
    li {
      font-size: 1.3rem;
      a {
        text-decoration: none;
        color: #424242;
      }
    }
  }
}

.home {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #dfdfdf;
  .circle {
    width: clamp(50vw, 60vw, 80vw);
    height: clamp(50vw, 60vw, 80vw);
    border-radius: 50%;
    position: absolute;
    background: #5c68d3c4;
    top: 15vh;
    right: -15vh;
    z-index: 0;
  }
  .home-text {
    width: clamp(50%, 65%, 70%);
    padding: 0rem 3rem;
    color: #424242;
    margin-top: 10vh;
    h1 {
      font-size: 4.5vw;
      font-weight: bold;
    }
    p {
      font-size: 2vw;
      line-height: 3vw;
      width: clamp(60%, 70%, 80%);
      font-weight: lighter;
      margin: 2vh 0;
    }
    .download {
      padding: 0.7rem 4rem;
      font-size: 1.3rem;
      background: #5c68d3;
      color: white;
      border-radius: 0.3rem;
      border: none;
      cursor: pointer;
      transition: all 0.4s ease;
      &:hover {
        background: transparent;
        color: #424242;
        outline: 2px solid #5c68d3;
      }
    }
  }
  .home-image {
    width: 35%;
    display: grid;
    place-items: center;
    img {
      width: clamp(60%, 65%, 75%);
      z-index: 1;
      margin-top: 10vh;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background: #dfdfdf;
  .main-head {
    color: #424242;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #5c68d3;
    text-decoration-thickness: 10px;
    text-underline-offset: -3px;
  }
  .features-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .features-text-container {
      width: 50vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      .features-card {
        width: 70%;
        display: flex;
        flex-direction: column;
        color: #424242;
        margin: 2vh 0vh;
        h1 {
          font-size: 2.5rem;
          margin: 8px 0px;
        }
        h3 {
          line-height: 2rem;
        }
      }
    }
    .features-image {
      width: 50vw;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70%;
      .swiper {
        width: 40%;
      }
      img {
        width: 40%;
      }
    }
  }
}

.team {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #dfdfdf;
  .main-head {
    color: #424242;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #5c68d3;
    text-decoration-thickness: 10px;
    text-underline-offset: -3px;
  }
  .container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    .card {
      width: clamp(30vw, 35vw, 90vw);
      margin: 3vh 3vw;
      padding: 0vw 0vw;
      background: white;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1vw 0vw;
      .image-area {
        width: clamp(35%, 40%, 45%);
        height: clamp(35%, 40%, 45%);
        display: grid;
        place-items: center;
        img {
          border-radius: 50%;
          width: 7vw;
          height: 7vw;
        }
      }
      .text-area {
        width: clamp(50%, 60%, 70%);
        color: #424242;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: auto;
        h1 {
          font-size: 2.2vw;
        }
        h3 {
          font-size: 1.5vw;
          font-weight: lighter;
          margin: 1.5vw 0vw;
        }
        .icons {
          a {
            color: #424242;
            margin-right: 25px;
          }
        }
      }
    }
  }
}

.footer-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 2vw 0vw;
  background: #7280ff;
  background-image: url("../Images/background.svg");
  .footer-box {
    width: 60vw;
    padding: 2vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
    color: #424242;
    z-index: 2;
    border-radius: 0.2rem;
    h1 {
      font-size: 3vw;
      font-weight: bolder;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.5vw;
      font-weight: bold;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: clamp(50%, 65%, 85%);
      .download {
        padding: 0.7vw 3vw;
        font-size: 1.5vw;
        background: #5c68d3;
        color: white;
        border-radius: 0.3rem;
        border: none;
        cursor: pointer;
        transition: all 0.4s ease;
        &:hover {
          background: transparent;
          color: #424242;
          outline: 2px solid #5c68d3;
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 2vw 0vw;
  background: #5c68d3;
  flex-direction: column;
  display: grid;
  place-content: center;
  font-weight: lighter;
  .ayuworks {
    text-align: center;
    color: white;
    font-weight: lighter;
    margin: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    .section1,
    .section2,
    .section3 {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      font-weight: lighter;
    }
    .section1 {
      align-items: flex-start;
      padding: 0rem 1rem;
      h3 {
        margin: 15px 0px;
      }
      .icons {
        a {
          text-decoration: none;
          color: white;
          margin: 10px;
        }
      }
    }
    .section2 {
      ul {
        list-style: none;
        li a {
          text-decoration: none;
          color: white;
          font-size: 1.3rem;
          align-items: center;
          margin: 2px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: flex;
  }
  nav {
    z-index: 4;
    position: absolute;
    top: 0vh;
    background: transparent;
    .nav-links {
      position: fixed;
      top: 0vh;
      width: 100vw;
      height: 50vh;
      background: rgb(201, 201, 201);
      flex-direction: column;
      transform: translateY(-50vh);
      transition: transform 300ms ease;
      justify-content: center;
      li {
        margin: 4vh 0vh;
        font-size: 25px;
        color: #424242;
      }
    }
    .nav-active {
      transform: translateY(0vh);
      z-index: 4;
    }
    .logo {
      display: none;
    }
    .logo2 {
      display: block;
      padding: 0rem 0rem;
      position: absolute;
      top: 2rem;
      left: 1.5rem;
      img {
        width: 60%;
      }
    }
  }

  .home {
    width: 100vw;
    height: auto;
    flex-direction: column;
    padding: 0rem 0rem;
    .home-text {
      padding: 1rem 0rem;
      width: 100%;
      text-align: center;
      z-index: 3;
      color: rgb(231, 231, 231);
      h1 {
        font-size: 3rem;
        width: 100%;
      }
      p {
        padding: 0rem 1rem;
        font-size: 1.2em;
        width: 100vw;
        line-height: 2rem;
        width: 100%;
      }
    }
    .home-image {
      min-height: 100%;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin-top: auto;
      }
    }
    .circle {
      top: -25vw;
      left: -25vw;
      width: 150vw;
      height: 150vw;
    }
  }
  .features {
    height: auto;
    width: 100vw;
    .features-container {
      flex-direction: column;
      .features-text-container {
        width: 100vw;
        text-align: center;
        .features-card {
          width: 90%;
          margin: 2vh 0vh;
          h1 {
            font-size: 2rem;
          }
          h3 {
            font-size: 1.2rem;
          }
        }
      }
      .features-image {
        width: 100%;
        padding: 1rem 0rem;
        .swiper {
          overflow: hidden;
          width: 60%;
        }
        .swiper-slide {
          position: relative;
          width: 100%;
        }
        img {
          width: 50%;
        }
      }
    }
  }
  .team {
    height: auto;
    padding: 1rem 0rem;
    .main-head {
      font-size: 2.5rem;
    }
    .container {
      height: auto;
      margin: 5vh 0vh;
      .card {
        width: 90vw;
        padding: 1rem 0rem;
        margin: 4vh 0vh;
        .image-area {
          img {
            width: 100px;
            height: 100px;
          }
        }
        .text-area {
          h1 {
            font-size: 1.7rem;
          }
          h3 {
            font-size: 1.4rem;
          }
          .icons {
            font-size: 1rem !important;
            margin: 1vw 0vw;
          }
        }
      }
    }
  }
  .footer-box-container {
    .footer-box {
      width: 90vw;
      h1 {
        text-align: center;
        font-size: 1.5rem;
        width: 90%;
      }
      div {
        flex-direction: column;
        width: 100%;
        h2 {
          font-size: 1.3rem;
        }
        .download {
          padding: 0.4rem 2rem !important;
          font-size: 1rem;
          margin: 2vh 0vh;
        }
      }
    }
  }
  footer {
    .footer-container {
      .section1,
      .section2 {
        display: none;
      }
      .section3 {
        width: 100% !important;
        h1 {
          font-size: 1.7rem;
        }
        h5 {
          width: 90%;
          font-weight: lighter;
        }
      }
    }
    .ayuworks {
      font-size: 1.3rem;
    }
  }
}
